﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add for admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <script>
        
        function addCourse() {

            var data = {
                Name: $("#Name").val(),
                Content: $("#Content").val(),
                Type: $("#Type").prop('selectedIndex'),
                Price: $("#Price").val(),
                avMonday: $("#avMonday").prop('checked'),
                AvTuesday: $("#avTuesday").prop('checked'),
                AvWednesday: $("#avTuesday").prop('checked'),
                AvThursday: $("#avThursday").prop('checked'),
                AvFriday: $("#avFriday").prop('checked'),
                AvSaturday: $("#avSaturday").prop('checked'),
                AvSunday: $("#avSunday").prop('checked')
            }

            $.ajax({
                type: "POST",
                url: "http://localhost:56240/Courses/Add",
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: data,
                success: function (d) {
                    alert("OK");
                },
                error: function (xhr, textStatus, errorThrown) {

                }
            });

            document.getElementById("buttAddC").style.display = "none";
            document.getElementById("notInsertC").style.display = "none";
            document.getElementById("addСDone").style.display = "inline";

        }

    </script>

</head>
<body>

    <nav class="navbar navbar-inverse header">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="color: white">Yidlo</a>
            <a class="navbar-brand" href="#" style="color: white">for admin</a>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" style="color: white"><span class="glyphicon"></span> Констянтин Константинопольский</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-out" style="color: white" onclick="window.location.href='loginForm.html'"></span></a></li>
            </ul>

        </div>
    </nav>

    <div class="container form-horizontal">

        <!--Tabs.................................................-->
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#addUserAdm">Пользователи</a></li>
            <li><a data-toggle="tab" href="#addCourseAdm">Блюда</a></li>
        </ul>

        <!--Users...............................................-->
        <div class="tab-content">
            <div id="addUserAdm" class="tab-pane fade in active">
                <h4>Добавление нового пользователя</h4>
                <h5>
                    Все поля обязательны</h5>
                    <p>
                        <form id="add_user" class="form-horizontal" onsubmit="addUser()">
                            <div class="form-group">
                                <label class="col-xs-1 control-label">Имя</label>
                                <div class="col-xs-3">
                                    <input type="text" class="form-control" id="firstname" name="firstname" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-1 control-label">Фамилия</label>
                                <div class="col-xs-3">
                                    <input type="text" class="form-control" id="lastname" name="lastname" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-1 control-label">Логин</label>
                                <div class="col-xs-3">
                                    <input type="text" class="form-control" id="loginUser" name="loginUser" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-1 control-label">Пароль</label>
                                <div class="col-xs-3">
                                    <input type="password" class="form-control" id="passUser" name="passUser" required>
                                </div>
                            </div>


                            <label id="addUDone">Новый пользователь добавлен!</label>
                            <div>
                                <label class="control-label" id="notInsertU"><a href=" ">Не добавлять</a></label>
                                <div class="input-group">
                                    <button type="submit" id="buttAddU" class="btn btn-primary">Добавить пользователя</button>
                                </div>
                            </div>
                        </form>


                    </p>
            </div>
            <!--Couses...............................................-->

            <div id="addCourseAdm" class="tab-pane fade">
                <h4>Добавление нового блюда</h4>
                <h5>
                    Обязательны только название и цена</h5>
                    <p>
                        <form id="add_course" class="form-horizontal" onsubmit="addCourse()" action="Add">
                            <div class="form-group">
                                <label class="col-xs-2 control-label">Название</label>
                                <div class="col-xs-4">
                                    <input type="text" class="form-control" id="Name" name="Name" required>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-xs-2 control-label">Описание</label>
                                <div class="col-xs-4">
                                    <textarea id="Content" name="Content" class="form-control" rows="3"></textarea>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-xs-2 control-label">Категория</label>
                                <div class="col-xs-4 selectContainer">
                                    <select class="form-control" id="Type" name="Type">
                                        <option value="">Первое</option>
                                        <option value="s">Второе</option>
                                        <option value="m">Салат</option>
                                        <option value="l">Десерт</option>
                                    </select>
                                </div>
                                <div class="col-xs-4"></div>
                            </div>


                            <div class="form-group">
                                <label class="col-xs-2 control-label">Цена</label>
                                <div class="col-xs-4">
                                    <div class="input-group">
                                        <input type="number" id="Price" name="Price" class="form-control" required>
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-xs-2 control-label">Доступность</label>
                                <div class="col-xs-4">
                                    <div class="checkbox" id="isAvailability" name="isAvailability">
                                        <label><input type="checkbox" value="" id="avMonday" name="avMonday">Понедельник</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="" id="avTuesday" name="avTuesday">Вторник</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="" id="avWednesday" name="avWednesday">Среда</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="" id="avThursday" name="avThursday">Четверг</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="" id="avFriday" name="avFriday">Пятница</label>
                                    </div>
                                    <div class="checkbox">
                                        <label style="color: red;"><input type="checkbox" value="" id="avSaturday" name="avSaturday">Суббота</label>
                                    </div>
                                    <div class="checkbox">
                                        <label style="color: red;"><input type="checkbox" value="" id="avSunday" name="avSunday">Воскресенье</label>
                                    </div>
                                </div>
                            </div>

                            <label id="addСDone">Новое блюдо добавлено!</label>
                            <div>
                                <label class="control-label" id="notInsertC">Не добавлять</label>
                                <div class="input-group">
                                    <button type="submit" id="buttAddC" class="btn btn-primary">Добавить блюдо</button>
                                </div>
                            </div>
                        </form>
                    </p>
            </div>

        </div> <!--tab-content-->
    </div><!--container-->

</body>
</html>
