﻿body {
    background-color: blue;
}

.btn {
    background-color: #1e89bd;
    color: white;
    border-color: #ffffff;
}

.container {
    float: left;
}

#add_course {
    margin-left: 100px;
}

#lab {
    float: left;
}
